<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FerieFravaerFileGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FerieFravaerFileGenerator.Properties.Settings.FeriefravaerDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\FeriefravaerDB.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="FerieFravaerFileGenerator.Properties.Settings.FeriefravaerDBConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\rzi\Documents\Visual Studio 2010\Projects\FerieFravaerIndberetning\FerieFravaerIndberetning\App_Data\FeriefravaerDB.mdf&quot;;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <FerieFravaerFileGenerator.Properties.Settings>
            <setting name="KMDFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="KMDFileName" serializeAs="String">
                <value />
            </setting>
        </FerieFravaerFileGenerator.Properties.Settings>
    </applicationSettings>
</configuration>